/* Colour Palette */
:root {
  --green: #012920;
  --cream: #d8c8b7;
  --orange: #ba481b;
  --white: #ffffff;
  --brown: #281c14;
}

button {
  background-color: unset;
  border: unset;
  padding: unset;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

.between {
  justify-content: space-between;
}

.gap,
.gap-m {
  gap: 1rem;
}

.gap-s {
  gap: 0.5rem;
}

.gap-l {
  gap: 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.m-auto {
  margin: auto;
}

.h-full {
  height: 100%;
}

.pageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoContainer {
  position: relative;
  width: 55%;
}

.logoOverlay {
  position: absolute;
  z-index: 9;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.metaContainer {
  position: absolute;
  top: 10%;
  opacity: 0;
}

.metaContainer h1 {
  opacity: 0;
}

.metaContainer h2 {
  opacity: 0;
}

.textContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.textContainer h3 {
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .pageContainer {
    justify-content: center;
    height: 80vh;
  }

  .logoContainer {
    width: calc(100% - 10px);
  }
}

.ms_nav {
  justify-content: space-between;
}

.ms_nav--aside {
  color: white;
}

.ms_nav--aside > p {
  opacity: 0;
  animation: descend 2s forwards ease-out;
}

.ms_nav--container {
  list-style: none;
  font-size: 2rem;
  color: white;
  opacity: 0;
  overflow: hidden;
  margin: unset;
  animation: descend 2s forwards ease-out;
}

@keyframes descend {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ms_nav--menu-item > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  color: white;
}

.ms_nav--bean {
  content: "";
  border: 0.1rem solid lightgray;
  border-top-left-radius: 28%;
  border-top-right-radius: 70%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 70%;
  background-color: white;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  overflow: hidden;
}

.ms_nav--bean::before,
.ms_nav--bean::after {
  content: "";
  display: block;
  border-color: #3d2700;
  border-top-width: 0.2rem;
  border-right-width: 0.2rem;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  width: 40%;
  position: relative;
}

.ms_nav--bean::before {
  height: 35%;
  top: 12%;
  left: -10%;
}

.ms_nav--bean::after {
  top: 5%;
  height: 40%;
  left: 30%;
}

@media screen and (min-width: 768px) {
  .ms_Btn {
    /* display: none; */
  }
}

.ms_nav--Btn {
  position: relative;
  height: 6vh;
  width: 10vw;
  max-width: 3rem;
  cursor: pointer;
}

.ms_nav--Btn > span {
  background-color: white;
  width: 100%;
  height: 20%;
}

.closedNav {
  z-index: 99;
  right: 3rem;
  top: 3rem;
}

.slider {
  height: 100vh;
  flex-grow: 1;
  color: var(--cream);
}

.invert {
  color: black;
}

.expanded {
  z-index: 9;
  animation: expand 1s forwards ease-in;
  max-width: 80vw;
}

@keyframes expand {
  from {
    flex-grow: 1;
  }
  to {
    flex-grow: 10;
  }
}

.sliderContainer,
.tileContainer {
  height: 100%;
}

.tileContainer {
  padding: 2rem 4rem 2rem 2rem;
}

.sliderTitleContainer {
  position: relative;
  cursor: default;
}

.sliderContentContainer {
  padding-left: 4rem;
  width: auto;
  max-height: 100%;
  overflow: scroll;
}

.sliderTitle {
  position: absolute;
  height: 30rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  left: 0.5rem;
  top: 0.5rem;
  font-size: 1.5rem;
}
